.Banner{
    display: flex;
    justify-content: space-between;
    background-color: rgba(112, 128, 144, 0.973);
    height: 250px;
    border-bottom: solid 1px;
}

.title{
    text-align: left;
    vertical-align: middle;
    margin-left: 5%;
    font-size: 60px;
    font-weight: bold;
    color: white;
    
}