#Content{
    background: linear-gradient(166deg, rgba(115,131,177,1) 0%, rgba(102,123,180,1) 27%, rgba(189,198,227,1) 53%, rgba(211,220,249,1) 80%);  
    position:absolute;
    width: 100%;
}

#groupBox{
    margin: 1%;
    border: solid 1px;
    border-color: black;
    border-radius: 5px;
}

#groupBox2{
    margin: 2%;
    display: flex;
}

#Content,#groupBox, #groupBox2{
    min-block-size: fit-content;
}

#Map{
    width: 70%;
}

#Info{
    width: 30%;
}